{% load i18n %}
{% load i18n_helpers %}
{% load static %}

<header class="header" id="header">
    <div class="header-content">
        <button class="burger-menu" id="burger-menu" aria-label="{% trans 'Menu' %}" aria-expanded="false">
            <span class="burger-line"></span>
            <span class="burger-line"></span>
            <span class="burger-line"></span>
        </button>
        
        <div class="header-logo">
            <a href="/">
                <picture>
                    <source srcset="{% static 'img/logo.webp' %}" type="image/webp">
                    <img src="{% static 'img/logo.png' %}" alt="CHAYKOVSKA" class="header-logo-img">
                </picture>
            </a>
        </div>
        
        <div class="header-right">
            {% if site_settings.phone_number %}
                <a href="tel:{{ site_settings.phone_number }}" class="header-phone">
                    {{ site_settings.phone_number }}
                </a>
            {% endif %}
            
            <div class="language-selector">
                {% get_available_languages as languages %}
                {% get_language_code as current_language %}
                <div class="lang-toggle">
                    {% for code, name in languages %}
                        <button class="lang-btn {% if code == current_language %}lang-btn--active{% endif %}"
                                data-lang="{{ code }}">
                            {{ code|upper }}
                        </button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
    {% include 'partials/menu_overlay.html' %}
</header>
